.login {
    padding: 5em 3em;
}

.log form input[type="password_field"] {
  margin-right: 58px;
}
.log h5 label{
    color: #f13d39;
    font-size: 16px;
    text-transform: capitalize;
    margin: 0 0 10px 0;
    font-weight: 400;
}

.label{
  color: #f13d39;
  font-size: 16px;
  font-weight: 400;

}

.log form {
  margin-top:32px;
}

input.form-input{
  width: 70%;
  padding: 8px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #e6e6e6;
  outline: none;
  color: #000;
  margin-bottom: 25px;
}


input[type=submit] {
    border: none;
    color: #ffffff;
    padding: 11px 53px;
    font-size: 17px;
    cursor: pointer;
    margin: 0 0 32px 0;
    background: #1666c0;
    border: none;
    outline: none;
    -webkit-appearance: none;
}
input[type=submit]:hover,.login-right a:hover {
    background: #f13d39;
    transition: .5s all;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    -moz-transition: .5s all;
  }
.log p a{
  text-decoration:none;
  color:#1666c0;
}
.log p a:hover{
  color: #f13d39;
  transition: .5s all;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
  -moz-transition: .5s all;
}
.login-right p {
    color: #777;
    margin: 22px 0 40px 0;
    font-size: 0.9em;
    line-height: 1.9em;
}
.log p{
     color: #777;
    margin: 22px 0;
    font-size: 0.9em;
    line-height: 1.8em;
}
.log p:nth-child(4) {
  margin:0;
}
.log a{
  text-decoration:none;
      color: #f13d39;
}
.log a:hover{
  color:#1666c0;
  transition: .5s all;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
  -moz-transition: .5s all;
}
.login-right a{
      text-decoration: none;
    background: #1666c0;
    color: #ffffff;
    font-size: 16px;
    padding: 14px 34px;
}


.inputfile {
    
}
