// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.events {
	margin-top: 2em;
}

.nav-tabs {
    margin-bottom: 1em;
}

.nav-tabs > li > a {
	font-size: 1.1em;
    font-family: inherit;
    color: #1e88e5;
}